<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="reclamos, preguntas, contacto, consultas, comunicación, pedidos, reclamos, devoluciones, quejas.">
		<link rel="stylesheet" type="text/css" href="../css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merriweather:ital@1&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<title>Contacto para pedidos, devoluciones o consultas</title>
	</head>
	<body>
		<header>
			<!-- logo del sitio -->
		<div>
			<div class="container container-logo">
     			 <div class="logo">
      				  <a  href="../index.html"><img id="pie" src="../assets/img/logo0.jpeg" alt="logodesktop" class="mobile" width="30%" height="30%"></a>
      				  <a  href="../index.html"><img id="pie" href="../index.html" src="../assets/img/logo1.png" alt="logomobile" class="desktop"  width="30%" height="30%"></a>
   				   </div>    
   			</div>
   			<!-- fin de logo -->	   
			<h1 class="subtitle">Artículos de ferretería y soluciones para el hogar</h1>
			<h3 class="slogan">Hacé del hogar tu dulce hogar</h3>
			<br>
			<hr>
		</header>	
    <!-- Inicio de nav-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand">Navegación</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <a class="nav-link" class="navbar-brand" href="Iniciar_sesion.html"><img src="../assets/img/ingresar.png" width="30" height="30" alt=""> Ingresar <span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="Promociones.html"> <img src="../assets/img/ofertas.png" width="30" height="30" alt="">Promociones y ofertas</a>
               </li>
              <li class="nav-item dropdown">
                  <a class="nav-link" href="Medios_de_Pago.html"><img src="../assets/img/mediosdepago.png" width="30" height="30" alt="">Medios de pago</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="Cursos_Y_Talleres.html"><img src="../assets/img/cursos.png" width="30" height="30" alt=""> Cursos y Talleres</a>
              </li>

           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
           </div>
          </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
       </div>
      </nav>
      <!-- Fin de nav-->tacto>
				<h3>CONTACTO / DEVOLUCIONES</h3>

				<form action="#">
												<br>
					Nombre:
					<input type="text" name="nombre">
					<label for="nombre"></label><br>
												<br>
					Apellido:
					<label for="apellido"></label>
					<input type="text" name="apellido"><br>
														<br>
					Número de ticket
					<label>
						<input type="number" name="numero de ticket">
					</label>
                            <br>
															<br>
					Comentarios:
															<br>	
					<label for="comentarios"></label>
					<textarea name="Comentarios" id=""cols="30"rows="30" placeholder="Comentarios"> </textarea>
					<input type="submit" value="Enviar">
					<input type="reset" value="Reset">
				</form>
			</article>

		<!-- Inicio de footer-->
	<footer class="footernav">
		<nav class="navfoot">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-youtube"target="_blanck"></a>
			<a href="#" class="fa fa-pinterest"target="_blanck"></a>
						<a href="#pie">
			<h3>Ir al pie de página</h3></a>
		</div>
		</nav>
		</footer>
		<!-- Cierre de footer -->
		<!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
	</html>	