<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Cursos, talleres, clases, certificados, títulos, experiencia, oficios, ferretería, cerrajería, albañilería, plomería, electricidad, carpintería, obras, construcción, casa, hogar, trabajo, salida laboral, psatiempos">
		<link rel="stylesheet" type="text/css" href="../css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merriweather:ital@1&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>El Hogar Cursos y talleres</title>
	</head>
	<body>
		<!-- inicio del header -->
		<header>
			<!-- logo del sitio -->
			<div class="container container-logo">
     			 <div class="logo">
      				  <a  href="../index.html"><img id="pie" src="../assets/img/logo0.jpeg" alt="logodesktop" class="mobile" width="30%" height="30%"></a>
      				  <a  href="../index.html"><img id="pie" src="../assets/img/logo1.png" alt="logomobile" class="desktop"  width="30%" height="30%"></a>
   				   </div>    
   			</div>
   			<div>
			<h1 class="subtitle">Artículos de ferretería y soluciones para el hogar</h1>
			<h3 class="slogan">Hacé del hogar tu dulce hogar</h3>
			<br>
			<hr>
		</header>
    <!-- Inicio de nav-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand">Navegación</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <a class="nav-link" class="navbar-brand" href="Iniciar_sesion.html"><img src="../assets/img/ingresar.png" width="30" height="30" alt=""> Ingresar <span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="Promociones.html"> <img src="../assets/img/ofertas.png" width="30" height="30" alt="">Promociones y ofertas</a>
               </li>
              <li class="nav-item dropdown">
                  <a class="nav-link" href="Medios_de_Pago.html"><img src="../assets/img/mediosdepago.png" width="30" height="30" alt="">Medios de pago</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="Contacto.html"><img src="../assets/img/contacto.png" width="30" height="30" alt=""> Contacto o devoluciones</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
           </div>
               </li>
          </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
       </div>
      </nav>
      <!-- Fin de nav-->
		<title>Cursos Y Talleres</title>
		<section>
			<article>
				<h3>Cursos Y Talleres</h3> 
				<h4>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Libero nihil rerum dolorum, dolores vel esse iste ratione, officia ad accusantium, neque qui distinctio culpa suscipit sint doloremque officiis reiciendis corporis.</h4>
			</article>
		</section>
	</div>
<!-- Inicio de footer-->
	<footer class="footernav">
		<nav class="navfoot">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-youtube"target="_blanck"></a>
			<a href="#" class="fa fa-pinterest"target="_blanck"></a>
						<a href="#pie">
			<h3>Ir al pie de página</h3></a>
		</nav>
		</footer>
		<!-- Cierre de footer -->
	</body>
	</html>	