<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="tarjetas, crédito, débito, mercado pago, banco, efectivo, divisa, moneda, moneda extranjera, cuotas, servicio">
		<link rel="stylesheet" type="text/css" href="../Css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merriweather:ital@1&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>El Hogar Medios de Pago</title>
	</head>
	<body>
		<!-- inicio del header -->
		<header>
		<!-- Fin del header -->
			<!-- logo del sitio -->
			<div class="container container-logo">
     			 <div class="logo">
      				  <a  href="../index.html"><img id="pie" src="../assets/img/logo0.jpeg" alt="logodesktop" class="mobile" width="30%" height="30%"></a>
      				  <a  href="../index.html"><img id="pie" href="../index.html" src="../assets/img/logo1.png" alt="logomobile" class="desktop"  width="30%" height="30%"></a>
   				   </div>    
   			</div>
   			      <!-- inicio de títulos -->
      <div class="row">
        <div class="col-lg-12 col-xs-12">    
          <h1>Hogar</h1>
            <h2>Artículos de ferretería y soluciones para tu hogar</h2>      
        </div>        
      </div>  
    </div>
    		</header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
        <!-- fin de títulos -->
        <!-- Inicio de nav-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand">Navegación</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <a class="nav-link" class="navbar-brand" href="Iniciar_sesion.html"><img src="../assets/img/ingresar.png" width="30" height="30" alt=""> Ingresar <span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="Promociones.html"> <img src="../assets/img/ofertas.png" width="30" height="30" alt="">Promociones y ofertas</a>
               </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="Cursos_Y_Talleres.html"><img src="../assets/img/cursos.png" width="30" height="30" alt=""> Cursos y Talleres</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="Contacto.html"><img src="../assets/img/contacto.png" width="30" height="30" alt=""> Contacto o devoluciones</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
           </div>
               </li>
          </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
       </div>
      </nav>
      <!-- Fin de nav-->

		<title>Medios de Pago</title>
		<section>
			<article>
				<h3>Medios de Pago</h3> 
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat officiis provident vel placeat nemo quae beatae aperiam modi accusamus distinctio non illo eligendi dolores molestias pariatur, a nisi doloribus voluptatibus.</p>
			</article>
		</section>
	</div>
<!-- Inicio de footer-->
	<footer class="footernav">
		<nav class="navfoot">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-youtube"target="_blanck"></a>
			<a href="#" class="fa fa-pinterest"target="_blanck"></a>
						<a href="#pie">
			<h3>Ir al pie de página</h3></a>
		</nav>
		</footer>
		<!-- Cierre de footer -->
	</body>
	</html>	